<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>0AB3D5FA-BD11-4E8B-A3BB-4DB221DFEBF1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C56880E3-2C29-47D1-AB79-68C1269DC728</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7CEA2538-57DF-4FD5-9C51-680078B3CE53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AB3D5FA-BD11-4E8B-A3BB-4DB221DFEBF1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>TinyDict</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>
$query = &lt;&lt;&lt;EOF
{query}
EOF;

$s = json_decode($query);
echo $s-&gt;g."\n".$s-&gt;e;
exec("say ".$s-&gt;g);
//exec("say -v mei-jia ".$s-&gt;e);</string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0AB3D5FA-BD11-4E8B-A3BB-4DB221DFEBF1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>查詢結果</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C56880E3-2C29-47D1-AB79-68C1269DC728</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>t</string>
				<key>script</key>
				<string>require('main.php');

echo main({query});</string>
				<key>title</key>
				<string>Tiny Dict</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7CEA2538-57DF-4FD5-9C51-680078B3CE53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0AB3D5FA-BD11-4E8B-A3BB-4DB221DFEBF1</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>7CEA2538-57DF-4FD5-9C51-680078B3CE53</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>C56880E3-2C29-47D1-AB79-68C1269DC728</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
